<section class="about" id="about">
<img src="../../../assets/perfil.jpg" alt="Maxi Fusco" class="profile-pic" />

  <h2>Sobre mí</h2>
  <p>
    ¡Hola! Soy Maximiliano Fusco, estudiante avanzado de Desarrollo de Software. Actualmente trabajo como docente de programación en Mendoza y he participado como Frontend Web Developer en proyectos colaborativos.
  </p>
  <p>
    Manejo tecnologías como Angular, TypeScript, Java, Spring Boot, HTML, CSS y MySQL. Me apasiona enseñar, aprender constantemente y aplicar buenas prácticas con metodologías ágiles como SCRUM.
  </p>
</section>

