<section class="about" id="about">
<img src="../../../assets/perfil.jpg" alt="Maxi Fusco" class="profile-pic" />

  <h2>Sobre mí</h2>
  <p>
    ¡Hola! Soy Maximiliano Fusco, un Desarrollador Backend con formación como Técnico Aeronáutico, lo que me permite abordar el software con el rigor y la precisión que exigen los sistemas críticos. Actualmente, me desempeño como Docente de Programación en Mendoza, liderando la formación de nuevos talentos y supervisando la calidad de código en proyectos escalables.
  </p>
  <p>
Mi especialidad es el ecosistema Java / Spring Boot y Angular, con experiencia probada en la creación de SaaS de gestión logística y de eventos. He participado en equipos multidisciplinarios bajo metodologías SCRUM, enfocándome en el consumo de APIs REST, la arquitectura de bases de datos relacionales y la entrega de interfaces de alta performance.
  </p>
</section>

